.scrolling-box-main {
  padding: 10px;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow-y: scroll;
  height: 40vh;
}
.latest-updates {
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.itrmgmt {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 5%;
}
.card-main-container {
  width: 30%;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.itr-home {
  border: 5px solid;
  margin: 20px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: none;
}
.title-itr {
  font-size: 25px;
  font-weight: 500;
}
.itr-box {
  width: 25%;
  padding: 25px;
  margin-top: 8%;
  box-shadow: var(--box-shadow);
  background-color: var(--main-bg);
  border-radius: var(--border-radius);
  text-align: center;
  margin: 30px; 
  cursor: pointer;
}
.itr-mainbox-title {
  font-size: 20px;
  font-weight: 500;
}
.card-alignment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.circle-border {
  border: 2px solid var(--second-color-orange);
  padding-top: 40px;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  margin-top: 25px;
}
